{% extends 'two-column' %}

{% block banner %}
    {% set content %}
        <h1>Blog</h1>
    {% endset %}
    {% include('content-builder/banner-bar') %}
{% endblock %}

{% block main %}
    {{ header }}
    {% if posts %}
        {% for post in posts %}
            {% include 'blog/post-list-item-simple' %}
        {% endfor %}
        {% include 'snippets/pagination' %}
    {% endif %}
    {% if footer %}
        <div class="mt-2">{{ footer }}</div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="Sidebar">
        {{ _api.blog.categoryFilter.template('api-category-filter') }}
        {{ _api.blog.postArchive.template('api-tag-filter') }}
        {{ _api.blog.recentPosts.template('api-recent-posts') }}
        {{ _api.blog.recentComments.template('api-recent-comments') }}
        {{ _api.blog.postArchive.template('api-post-archive') }}
    </div>
{% endblock %}
