{% import 'macros/macros' as macros %}

<div class="Footer">
    <div class="Container">
        {% if _core.theme.settings.footerLogo %}
            {% if _core.theme.settings.footerLogo.alt|length == 0 %}
                {% set _core.theme.settings.footerLogo.alt = _core.theme.settings.company %}
            {% endif %}
            {% set _core.theme.settings.footerLogo.class = 'u-size' ~ _core.theme.settings.footerLogoSize|capitalize %}
            <div class="u-textCenter"><a href="/" title="Back to home page">{{ _core.theme.settings.footerLogo.tag }}</a></div>
        {% endif %}
        {{ _api.navigation.get.key('main').showSubNav('no').template('footer') }}
        <div class="u-margBottom2">
            {% if _core.theme.settings.footerShowSocial == 'yes' %}
                {% for social in _core.theme.settings.social %}
                    <a href="{{ social.url }}" title="Follow us on {{ social.name }}" class="Footer-social"> {{ macros.iconImg(social.icon, social.name, "Icon") }} </a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="Grid Grid--withGutter Grid--alignMiddle">
            <div class="Grid-cell u-size1of2 u-sm-sizeFull u-sm-margBottom2 u-textLeft u-sm-textCenter">
                <div class="Footer-copyright">&copy; {{ _core.date.year }} {{ _core.theme.settings.company }}</div>
            </div>
            <div class="Grid-cell u-size1of2 u-sm-sizeFull u-textRight u-sm-textCenter">
                <a href="https://www.aptuitiv.com" target="_blank" class="Footer-credit">Website by Aptuitiv</a>
                <a href="https://www.branchcms.com" target="_blank" class="Footer-credit">Powered by BranchCMS</a>
            </div>
        </div>
    </div>
</div>
<script src="{{ 'js/main.js'|theme_url }}"></script>
{{ _page.js() }}
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto+Slab:300,400','Roboto:400,400i,700,700i']
            }
        });
    </script>
</body>
</html>
