{% import 'macros/macros' as macros %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch preconnect" href="//www.google-analytics.com">
    <link rel="dns-prefetch preconnect" href="//ajax.googleapis.com">
    <link rel="dns-prefetch preconnect" href="//fonts.googleapis.com">
    <title>{{ _page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ _page.meta() }}
    <link type="text/css" rel="stylesheet" href="{{ 'css/main.css'|theme_url }}">
    {{ _page.css() }}
    {# Loadjs https://github.com/muicss/loadjs #}
    <script>loadjs=function(){function e(e,n){var t,r,i,c=[],o=(e=e.push?e:[e]).length,f=o;for(t=function(e,t){t.length&&c.push(e),--f||n(c)};o--;)r=e[o],(i=s[r])?t(r,i):(u[r]=u[r]||[]).push(t)}function n(e,n){if(e){var t=u[e];if(s[e]=n,t)for(;t.length;)t[0](e,n),t.splice(0,1)}}function t(e,n,r,i){var o,s,u=document,f=r.async,a=(r.numRetries||0)+1,h=r.before||c;i=i||0,/(^css!|\.css$)/.test(e)?(o=!0,(s=u.createElement("link")).rel="stylesheet",s.href=e.replace(/^css!/,"")):((s=u.createElement("script")).src=e,s.async=void 0===f||f),s.onload=s.onerror=s.onbeforeload=function(c){var u=c.type[0];if(o&&"hideFocus"in s)try{s.sheet.cssText.length||(u="e")}catch(e){u="e"}if("e"==u&&(i+=1)<a)return t(e,n,r,i);n(e,u,c.defaultPrevented)},!1!==h(e,s)&&u.head.appendChild(s)}function r(e,n,r){var i,c,o=(e=e.push?e:[e]).length,s=o,u=[];for(i=function(e,t,r){if("e"==t&&u.push(e),"b"==t){if(!r)return;u.push(e)}--o||n(u)},c=0;c<s;c++)t(e[c],i,r)}function i(e,t,i){var s,u;if(t&&t.trim&&(s=t),u=(s?i:t)||{},s){if(s in o)throw"LoadJS";o[s]=!0}r(e,function(e){e.length?(u.error||c)(e):(u.success||c)(),n(s,e)},u)}var c=function(){},o={},s={},u={};return i.ready=function(n,t){return e(n,function(e){e.length?(t.error||c)(e):(t.success||c)()}),i},i.done=function(e){n(e,[])},i.reset=function(){o={},s={},u={}},i.isDefined=function(e){return e in o},i}();</script>
    {# Load the main JS #}
    <script>loadjs(['{{ 'js/main.js'|theme_url }}'], 'main');</script>
    {# Javascript for preloading CSS - https://www.filamentgroup.com/lab/async-css.html #}
    <script>!function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){function e(){t.media=a}var a=t.media||"all";t.addEventListener?t.addEventListener("load",e):t.attachEvent&&t.attachEvent("onload",e),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(e,3e3)},e.poly=function(){if(!e.support())for(var a=t.document.getElementsByTagName("link"),n=0;n<a.length;n++){var o=a[n];"preload"!==o.rel||"style"!==o.getAttribute("as")||o.getAttribute("data-loadcss")||(o.setAttribute("data-loadcss",!0),e.bindMediaToggle(o))}},!e.support()){e.poly();var a=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(a)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(a)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);</script>
    {{ _page.js('head') }}
    {{ _page.head() }}
</head>
<body>
{{ _api.widgets.collection.get('notification-bar') }}
<div class="u-hiddenVisually" aria-hidden="true">{{ source('snippets/svg-icons.twig') }}</div>
    {% spaceless %}
    <header role="banner">
        <a class="Header-skipToMain" href="#main">skip to main content {{ macros.iconAriaHidden("chevron-small-right") }}</a>
        {% if _core.theme.settings.headerLogo %}
            {% if _core.theme.settings.headerLogo.alt|length == 0 %}
                {% set _core.theme.settings.headerLogo.alt = _core.theme.settings.company %}
            {% endif %}
            {% set _core.theme.settings.headerLogo.class = 'u-size' ~ _core.theme.settings.headerLogoSize|capitalize %}
            <div class="Header u-hidden u-md-show">
                <a href="/" title="Back to home page">{{ _core.theme.settings.headerLogo.tag }}</a>
            </div>
        {% endif %}
        <div class="TopBar">
            <div class="Container Container--pad">
                <div class="Grid Grid--withGutter Grid--alignMiddle">
                    <div class="Grid-cell u-size1of3 u-md-hide">
                        {% if _core.theme.settings.headerShowSocial == 'yes' %}
                            {% for social in _core.theme.settings.social %}
                                <a href="{{ social.url }}" title="Follow us on {{ social.name }}" class="TopBar-social"> {{ macros.iconImg(social.icon, social.name) }} </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="Grid-cell u-size1of3 u-md-sizeFull">
                        {% if _core.theme.settings.headerShowPhone == 'yes' or _core.theme.settings.headerShowAddress == 'yes' %}
                            <div class="TopBar-contact" itemscope itemtype="http://schema.org/Organization">
                                {% if _core.theme.settings.headerShowPhone == 'yes' and _core.theme.settings.phone|length > 0 %}
                                    <span class="TopBar-contactItem u-md-hide" itemprop="telephone"><a href="tel:{{ _core.theme.settings.phone|replace({'(': '', '}': '', '-': '', ' ': ''}) }}" aria-label="Call {{ _core.theme.settings.phone }}">{{ _core.theme.settings.phone }}</a></span>
                                    <a href="tel:{{ _core.theme.settings.phone|replace({'(': '', '}': '', '-': '', ' ': ''}) }}" class="Button TopBar-button u-hidden u-md-show u-margBottom2" aria-label="Call {{ _core.theme.settings.phone }}">Call Now</a>
                                {% endif %}
                                {% if _core.theme.settings.headerShowAddress == 'yes' %}
                                    <span class="TopBar-contactItem" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                        {% if _core.theme.settings.address %}
                                            <span itemprop="streetAddress">{{ _core.theme.settings.address }}</span>,
                                        {% endif %}
                                        {% if _core.theme.settings.city %}
                                            <span itemprop="addressLocality">{{ _core.theme.settings.city }}</span>,
                                        {% endif %}
                                        {% if _core.theme.settings.state %}
                                            <span itemprop="addressRegion">{{ _core.theme.settings.state }}</span>
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="Grid-cell u-size1of3 u-md-sizeFull">
                        {% if _core.theme.settings.headerShowPrimaryButton == 'yes' or _core.theme.settings.headerShowSecondaryButton == 'yes' %}
                            <div class="TopBar-nav">
                                {% if _core.theme.settings.headerShowSecondaryButton == 'yes' %}
                                    <div class="TopBar-navItem"><a href="{{ _core.theme.settings.headerSecondaryButtonUrl }}" class="TopBar-link">{{ _core.theme.settings.headerSecondaryButtonText }}</a></div>
                                {% endif  %}
                                {% if _core.theme.settings.headerShowPrimaryButton == 'yes' %}
                                    <div class="TopBar-navItem"><a href="{{ _core.theme.settings.headerPrimaryButtonUrl }}" class="Button TopBar-button">{{ _core.theme.settings.headerPrimaryButtonText }}</a></div>
                                {% endif  %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="Container">
            {% if _core.theme.settings.headerLogo %}
                <div class="Header u-md-hide">
                    <a href="/" title="Back to home page">{{ _core.theme.settings.headerLogo.tag }}</a>
                </div>
            {% endif %}
            <nav class="NavBar">
                <button class="SmScBtn js-ssNavBtn"><span class="SmScBtn-icon"></span>Menu</button>
                {{ _api.navigation.get.key('main') }}
            </nav>
        </div>
    </header>
    {% endspaceless %}
