{% import 'macros/macros' as macros %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch preconnect" href="//www.google-analytics.com">
    <link rel="dns-prefetch preconnect" href="//ajax.googleapis.com">
    <link rel="dns-prefetch preconnect" href="//fonts.googleapis.com">
    <title>{{ _page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ _page.meta() }}
    <link type="text/css" rel="stylesheet" href="{{ 'css/main.css'|theme_url }}">
    {{ _page.css() }}
    {{ _page.js('head') }}
    {{ _page.head() }}
</head>
<body>
<div class="u-hiddenVisually" aria-hidden="true">{{ source('snippets/svg-icons.twig') }}</div>
    {% spaceless %}
    <header role="banner">
        <a class="Header-skipToMain" href="#main">skip to main content {{ macros.iconAriaHidden("chevron-small-right") }}</a>
        {% if _core.theme.settings.headerLogo %}
            {% if _core.theme.settings.headerLogo.alt|length == 0 %}
                {% set _core.theme.settings.headerLogo.alt = _core.theme.settings.company %}
            {% endif %}
            {% set _core.theme.settings.headerLogo.class = 'u-size' ~ _core.theme.settings.headerLogoSize|capitalize %}
            <div class="Header u-hidden u-md-show">
                <a href="/" title="Back to home page">{{ _core.theme.settings.headerLogo.tag }}</a>
            </div>
        {% endif %}
        <div class="TopBar">
            <div class="Container Container--pad">
                <div class="Grid Grid--withGutter Grid--alignMiddle">
                    <div class="Grid-cell u-size1of3 u-md-hide">
                        {% if _core.theme.settings.headerShowSocial == 'yes' %}
                            {% for social in _core.theme.settings.social %}
                                <a href="{{ social.url }}" title="Follow us on {{ social.name }}" class="TopBar-social"> {{ macros.iconImg(social.icon, social.name) }} </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="Grid-cell u-size1of3 u-md-sizeFull">
                        {% if _core.theme.settings.headerShowPhone == 'yes' or _core.theme.settings.headerShowAddress == 'yes' %}
                            <div class="TopBar-contact" itemscope itemtype="http://schema.org/Organization">
                                {% if _core.theme.settings.headerShowPhone == 'yes' and _core.theme.settings.phone|length > 0 %}
                                    <span class="TopBar-contactItem u-md-hide" itemprop="telephone"><a href="tel:{{ _core.theme.settings.phone|replace({'(': '', '}': '', '-': '', ' ': ''}) }}" aria-label="Call {{ _core.theme.settings.phone }}">{{ _core.theme.settings.phone }}</a></span>
                                    <a href="tel:{{ _core.theme.settings.phone|replace({'(': '', '}': '', '-': '', ' ': ''}) }}" class="Button TopBar-button u-hidden u-md-show u-margBottom2" aria-label="Call {{ _core.theme.settings.phone }}">Call Now</a>
                                {% endif %}
                                {% if _core.theme.settings.headerShowAddress == 'yes' %}
                                    <span class="TopBar-contactItem" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                        {% if _core.theme.settings.address %}
                                            <span itemprop="streetAddress">{{ _core.theme.settings.address }}</span>,
                                        {% endif %}
                                        {% if _core.theme.settings.city %}
                                            <span itemprop="addressLocality">{{ _core.theme.settings.city }}</span>,
                                        {% endif %}
                                        {% if _core.theme.settings.state %}
                                            <span itemprop="addressRegion">{{ _core.theme.settings.state }}</span>
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="Grid-cell u-size1of3 u-md-sizeFull">
                        {% if _core.theme.settings.headerShowPrimaryButton == 'yes' or _core.theme.settings.headerShowSecondaryButton == 'yes' %}
                            <div class="TopBar-nav">
                                {% if _core.theme.settings.headerShowSecondaryButton == 'yes' %}
                                    <div class="TopBar-navItem"><a href="{{ _core.theme.settings.headerSecondaryButtonUrl }}" class="TopBar-link">{{ _core.theme.settings.headerSecondaryButtonText }}</a></div>
                                {% endif  %}
                                {% if _core.theme.settings.headerShowPrimaryButton == 'yes' %}
                                    <div class="TopBar-navItem"><a href="{{ _core.theme.settings.headerPrimaryButtonUrl }}" class="Button TopBar-button">{{ _core.theme.settings.headerPrimaryButtonText }}</a></div>
                                {% endif  %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="Container">
            {% if _core.theme.settings.headerLogo %}
                <div class="Header u-md-hide">
                    <a href="/" title="Back to home page">{{ _core.theme.settings.headerLogo.tag }}</a>
                </div>
            {% endif %}
            <nav class="NavBar">
                <button class="SmScBtn js-ssNavBtn"><span class="SmScBtn-icon"></span>Menu</button>
                {{ _api.navigation.get.key('main') }}
            </nav>
        </div>
    </header>
    {% endspaceless %}
