<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch preconnect" href="//www.google-analytics.com">
    <link rel="dns-prefetch preconnect" href="//ajax.googleapis.com">
    <link rel="dns-prefetch preconnect" href="//fonts.googleapis.com">
    <title>{{ _page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ _page.meta() }}
    <link type="text/css" rel="stylesheet" href="{{ 'css/main.css'|theme_url }}">
    {{ _page.css() }}
    {{ _page.js('head') }}
    {{ _page.head() }}
</head>
<body>
    {% spaceless %}
    <div class="Header u-hidden u-md-show">
        <a href="/" title="Back to home page"><img src="{{ 'images/logo.svg'|theme_url }}" class="Logo"  width="382" height="60"></a>
    </div>
    <div class="TopBar">
        <div class="Container Container--pad">
            <div class="Grid Grid--withGutter Grid--alignMiddle">
                <div class="Grid-cell u-size1of3 u-md-hide">
                    <a href="#" title="Follow us on Facebook" class="TopBar-social"><i class="Icon-facebook"></i></a>
                    <a href="#" title="Follow us on Instagram" class="TopBar-social"><i class="Icon-instagram"></i></a>
                    <a href="#" title="Follow us on LinkedIn" class="TopBar-social"><i class="Icon-linkedin"></i></a>
                    <a href="#" title="Follow us on Pinterest" class="TopBar-social"><i class="Icon-pinterest"></i></a>
                    <a href="#" title="Follow us on Twitter" class="TopBar-social"><i class="Icon-twitter"></i></a>
                    <a href="#" title="Follow us on Youtube" class="TopBar-social"><i class="Icon-youtube"></i></a>
                </div>
                <div class="Grid-cell u-size1of3 u-md-sizeFull">
                    <div class="TopBar-contact" itemscope itemtype="http://schema.org/Organization">
                        <span class="TopBar-contactItem" itemprop="telephone"><a href="tel:1-207-860-0000" >207-860-0000</a></span>
                        <span class="TopBar-contactItem" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">1 Main St</span>,
                            <span itemprop="addressLocality">Farmington</span>,
                            <span itemprop="addressRegion">ME</span>
                        </span>
                    </div>
                </div>
                <div class="Grid-cell u-size1of3 u-md-sizeFull">
                    <div class="TopBar-nav">
                        <div class="TopBar-navItem"><a href="#" class="TopBar-link">Subscribe</a></div>
                        <div class="TopBar-navItem"><a href="#" class="Button TopBar-button">Donate</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Container">
        <div class="Header u-md-hide">
            <a href="/" title="Back to home page"><img src="{{ 'images/logo.svg'|theme_url }}" class="Logo"  width="382" height="60"></a>
        </div>
        <div class="NavBar">
            <button class="SmScBtn js-ssNavBtn"><span class="SmScBtn-icon"></span>Menu</button>
            {{ _api.navigation.get.key('main') }}
        </div>
    </div>
    {% endspaceless %}
